body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    padding-left: 200px;
    padding-right: 200px;
    flex: 1;
}

.title3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #2c1f3a;
    margin-bottom: 20px;
    border-left: 9px solid #19005db8;
    padding-left: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.block {
    flex: 0 0 250px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 8px gray;

}

.block img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-bottom: 1px solid #eee;
    display: block;
}

.contenuto {
    padding: 16px;
}

.line {
    font-size: 20px;
    color: #2c1f3a;
    margin: 0 0 8px;

}

a {
    text-decoration: none;
}

.text {
    font-size: 1.2em;
    line-height: 1.2;
    color: #555;
    margin-bottom: 1.5em;
}

.cap {
    font-style: italic;
    background-color: rgb(216, 208, 208);
    padding: 0.5em;
    border-left: 1px solid #04ea6b;
    margin: 1em 0;
}

.top-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0615ec;
    color: #222;
    padding: 10px 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.main-footer {
  width: 100%;
  background-color: #262626;
  color: #c0c0c0;
  border-top: 1px solid #444;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  box-sizing: border-box;
}


.text-banner {
    width: 50%;
    height: 250px;
    object-fit: cover;
}

table.vanilla {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: 4px double #333;
}

table.vanilla th,
table.vanilla td {
    border: 4px double #ddd;
    padding: 10px;
    text-align: left;
}